__pycache__/
*.pyc
optimization_history.json
run_foam.log
corkscrewFilter/constant/triSurface/*.stl
corkscrewFilter/0/
corkscrewFilter/processor*/
corkscrewFilter/postProcessing/
corkscrewFilter/log.*
optimizer/venv/
.venv/
exports/
node_modules/
logs/
.venv/*
*.bak
*.stl
corkscrewFilter/constant/extendedFeatureEdgeMesh/
corkscrewFilter/constant/polyMesh/
corkscrewFilter/constant/triSurface/*.eMesh
